
<% unless @empty_request %>
  <h2 class="title">Productos en el carrito</h2>
  <table class="table is-bordered is-fullscreen">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Cantidad</th>
      </tr>
    <tbody>
      <% @request.products.all.each_with_index do |product, index|%>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.description %></td>
          <td><%= @quantites[index] %></td>
          <td><%= button_to "-", update_p_request_path(user_id: current_user.id, request_id: @request.id, product_id: product.id, operation: 'subst'), method: :patch %>
          <td><%= button_to "+", update_p_request_path(user_id: current_user.id, request_id: @request.id, product_id: product.id, operation: 'add'), method: :patch %>
          <td><%= button_to "Eliminar", update_p_request_path(user_id: current_user.id, request_id: @request.id, product_id: product.id, operation: 'delete'), method: :patch %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p> Costo total: <%= @total_cost %></p>
  <%= button_to "Agregar productos", products_path, method: :get %>
  <%= button_to "Enviar solicitudes (Comprar)", send_p_requests_path(user_id: current_user.id, request_id: @request.id), method: :patch %>
<% else %>
  <h2>Aún no tienes productos en tu carrito. ¡Agrega productos para realizar el pedido!</h2>
<% end %>
<%= link_to "Volver a productos", products_path %>
