
<div class="columns">
  <div class="column is-half has-text-centered">
    <figure class="is-inline-block image">
      <%= image_tag(@product.image_url) if @product.image%>
    </figure>
  </div>

  <div class="column is-half">
    <div class="vertical-center">
      <h1 class="title is-size-2"> <%= @product.name %></h1>
      <p class="has-text-weight-light is-size-4"> $<%= @product.price%> </h3>
      <p> <%= @product.description%></p>
      <% if current_user.is_admin == false%>
        <br>
        <%= button_to "Agregar", requests_path,
            params: {user_id: current_user.id, product_id: @product.id}, class: "button no-outline" %>
      <% end %>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="columns">
    <div class="column is-one-third is-offset-one-third">
      <div class="columns">
        <div class="column is-four-fifths is-offset-one-fifth">
          <h2 class="title has-text-left">Reviews</h2>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-vertical is-parent">
          <% @product_reviews.each do |review|%>
          <% user = User.where(id: review.user_id).first %>
            <div class="tile is-child">
              <div class="columns">
                <div class="column is-one-fifth">
                  <figure class="inline-block image is-48x48">
                    <%= image_tag(user.image_url, :class => "is-rounded") if user.image%>
                  </figure>
                </div>
                <div class="column">
                  <!-- Top tile -->
                  <p class="has-text-weight-light is-size-4 is-uppercase"><%= user.name%></p>
                  <p class="has-text-weight-light is-size-6"><%= review.content%></p>
                  <p class="is-size-2 mt-2"><%= review.score%></p>
                  <% if current_user.is_admin == true or current_user.is_super_admin == true %>
                    <%= button_to "Eliminar review", review, method: :delete, class: "button no-outline"%>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="columns">
        <div class="column is-two-fifths is-offset-one-fifth">
          <% if current_user.is_admin == false%>
          <%= button_to "Crear review", new_product_review_path, method: :get,
              params: {user_id: current_user.id, product_id: @product.id}, class: "button no-outline" %>
          <% end %>  
        </div>
      </div>  
    </div> 
  </div>
  <div>
    <%= link_to "Volver a productos", products_path, method: :get, class: "no-link pb-5" %>
  </div>
</div>

